In [1]:
import os 
import pandas as pd
import matplotlib as plt

In [2]:
ruta_carpeta = "/home/jovyan/work/spark/Taller Retrasos"

In [7]:
lista_df = []


for archivo in os.listdir(ruta_carpeta):
    
    if archivo.endswith('.csv'):
        ruta_archivo = os.path.join(ruta_carpeta, archivo)
        
        df = pd.read_csv(ruta_archivo)
        lista_df.append(df)

df_total = pd.concat(lista_df, ignore_index=True)

/tmp/ipykernel_1856/345565634.py:9: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo)
/tmp/ipykernel_1856/345565634.py:9: DtypeWarning: Columns (48,69,76,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo)
/tmp/ipykernel_1856/345565634.py:9: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo)
/tmp/ipykernel_1856/345565634.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo)
/tmp/ipykernel_1856/345565634.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo)

In [6]:
df_total.describe()

,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Reporting_Airline,Flight_Number_Reporting_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
count,594957.0,594957.0,594957.0,594957.000000,594957.000000,594957.000000,594957.000000,594957.000000,5.949570e+05,594957.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2022.0,3.0,7.0,16.075560,4.175152,19960.354068,2439.938992,12665.502831,1.266554e+06,31745.827504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.0,8.915316,2.006863,375.403777,1658.227016,1531.661456,1.531659e+05,1318.843104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2022.0,3.0,7.0,1.000000,1.000000,19393.000000,1.000000,10135.000000,1.013506e+06,30070.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2022.0,3.0,7.0,8.000000,2.000000,19790.000000,1089.000000,11292.000000,1.129202e+06,30666.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2022.0,3.0,7.0,16.000000,4.000000,19930.000000,2178.000000,12889.000000,1.288903e+06,31453.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2022.0,3.0,7.0,24.000000,6.000000,20363.000000,3578.000000,14057.000000,1.405702e+06,32467.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2022.0,3.0,7.0,31.000000,7.000000,20452.000000,8819.000000,16869.000000,1.686901e+06,36101.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_sin_nulos = df_total.dropna(axis=1, how='all')

df_sin_nulos.describe()

,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Reporting_Airline,Flight_Number_Reporting_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,...,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,Div1WheelsOff,Div2AirportID,Div2AirportSeqID,Div2WheelsOn,Div2TotalGTime,Div2LongestGTime,Div2WheelsOff
count,3.009651e+06,3009651.0,3009651.0,3.009651e+06,3.009651e+06,3.009651e+06,3.009651e+06,3.009651e+06,3.009651e+06,3.009651e+06,...,10687.000000,10689.000000,10689.000000,9936.000000,62.000000,6.200000e+01,62.00000,62.000000,62.000000,34.000000
mean,2.022428e+03,3.0,7.0,1.611910e+01,4.052370e+00,1.996012e+04,2.482922e+03,1.265713e+04,1.265717e+06,3.174233e+04,...,1594.051932,41.667228,34.172888,1623.060588,12699.467742,1.269951e+06,1500.66129,32.451613,26.661290,1388.705882
std,1.026700e+00,0.0,0.0,8.902021e+00,2.014421e+00,3.745086e+02,1.672600e+03,1.534370e+03,1.534368e+05,1.327848e+03,...,513.669700,34.689959,32.798429,587.605916,1625.669252,1.625671e+05,760.71877,36.374048,33.612031,685.593418
min,2.021000e+03,3.0,7.0,1.000000e+00,1.000000e+00,1.939300e+04,1.000000e+00,1.013500e+04,1.013506e+06,3.007000e+04,...,1.000000,0.000000,0.000000,1.000000,10158.000000,1.015804e+06,15.00000,4.000000,4.000000,40.000000
25%,2.022000e+03,3.0,7.0,8.000000e+00,2.000000e+00,1.979000e+04,1.104000e+03,1.129200e+04,1.129202e+06,3.064700e+04,...,1408.000000,18.000000,12.000000,1341.750000,11109.000000,1.110902e+06,1058.00000,8.250000,8.250000,1002.500000
50%,2.022000e+03,3.0,7.0,1.600000e+01,4.000000e+00,1.993000e+04,2.205000e+03,1.288900e+04,1.288903e+06,3.145300e+04,...,1707.000000,28.000000,19.000000,1805.000000,12478.000000,1.247805e+06,1829.50000,21.000000,15.000000,1479.500000
75%,2.023000e+03,3.0,7.0,2.400000e+01,6.000000e+00,2.036300e+04,3.677000e+03,1.405700e+04,1.405702e+06,3.252300e+04,...,1939.000000,57.000000,48.000000,2040.000000,14122.000000,1.412202e+06,2022.25000,32.500000,23.750000,2001.000000
max,2.024000e+03,3.0,7.0,3.100000e+01,7.000000e+00,2.045200e+04,8.819000e+03,1.686900e+04,1.686902e+06,3.610100e+04,...,2400.000000,314.000000,314.000000,2400.000000,15016.000000,1.501606e+06,2317.00000,183.000000,183.000000,2302.000000

In [12]:
columnas_con_id = [col for col in df_sin_nulos.columns if 'id' in col.lower()]

df_sin_id = df_sin_nulos.drop(columns=columnas_con_id)

df_sin_id.describe()

,Year,Quarter,Month,DayofMonth,DayOfWeek,Flight_Number_Reporting_Airline,OriginStateFips,OriginWac,DestStateFips,DestWac,...,DivArrDelay,DivDistance,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,Div1WheelsOff,Div2WheelsOn,Div2TotalGTime,Div2LongestGTime,Div2WheelsOff
count,3.009651e+06,3009651.0,3009651.0,3.009651e+06,3.009651e+06,3.009651e+06,3.009651e+06,3.009651e+06,3.009651e+06,3.009651e+06,...,9907.000000,10464.000000,10687.000000,10689.000000,10689.000000,9936.000000,62.00000,62.000000,62.000000,34.000000
mean,2.022428e+03,3.0,7.0,1.611910e+01,4.052370e+00,2.482922e+03,2.719956e+01,5.494833e+01,2.719997e+01,5.494868e+01,...,252.999092,15.288035,1594.051932,41.667228,34.172888,1623.060588,1500.66129,32.451613,26.661290,1388.705882
std,1.026700e+00,0.0,0.0,8.902021e+00,2.014421e+00,1.672600e+03,1.678255e+01,2.688839e+01,1.678237e+01,2.688852e+01,...,226.549673,132.971019,513.669700,34.689959,32.798429,587.605916,760.71877,36.374048,33.612031,685.593418
min,2.021000e+03,3.0,7.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,-59.000000,0.000000,1.000000,0.000000,0.000000,1.000000,15.00000,4.000000,4.000000,40.000000
25%,2.022000e+03,3.0,7.0,8.000000e+00,2.000000e+00,1.104000e+03,1.200000e+01,3.400000e+01,1.200000e+01,3.400000e+01,...,137.000000,0.000000,1408.000000,18.000000,12.000000,1341.750000,1058.00000,8.250000,8.250000,1002.500000
50%,2.022000e+03,3.0,7.0,1.600000e+01,4.000000e+00,2.205000e+03,2.600000e+01,5.100000e+01,2.600000e+01,5.100000e+01,...,185.000000,0.000000,1707.000000,28.000000,19.000000,1805.000000,1829.50000,21.000000,15.000000,1479.500000
75%,2.023000e+03,3.0,7.0,2.400000e+01,6.000000e+00,3.677000e+03,4.200000e+01,8.200000e+01,4.200000e+01,8.200000e+01,...,264.000000,0.000000,1939.000000,57.000000,48.000000,2040.000000,2022.25000,32.500000,23.750000,2001.000000
max,2.024000e+03,3.0,7.0,3.100000e+01,7.000000e+00,8.819000e+03,7.800000e+01,9.300000e+01,7.800000e+01,9.300000e+01,...,2701.000000,6007.000000,2400.000000,314.000000,314.000000,2400.000000,2317.00000,183.000000,183.000000,2302.000000

In [17]:
df_sin_divs = df_sin_id[
    [
        'Year', 'DayofMonth', 'DayOfWeek', 'FlightDate',
        'Origin', 'OriginCityName', 'OriginState', 'OriginStateName',
        'Dest', 'DestCityName', 'DestState', 'DestStateName',
        'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes',
        'DepDel15', 'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut',
        'WheelsOff', 'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrTime', 'ArrDelay',
        'ArrDelayMinutes', 'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk',
        'Cancelled', 'CancellationCode', 'Diverted', 'CRSElapsedTime',
        'ActualElapsedTime', 'AirTime', 'Flights', 'Distance', 'DistanceGroup',
        'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
        'LateAircraftDelay', 'FirstDepTime', 'TotalAddGTime', 'LongestAddGTime'
    ]
]

df_sin_divs.describe()

,Year,DayofMonth,DayOfWeek,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,TaxiOut,...,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime
count,3.009651e+06,3.009651e+06,3.009651e+06,3.009651e+06,2.948555e+06,2.948483e+06,2.948483e+06,2.948483e+06,2.948483e+06,2.946662e+06,...,3.009651e+06,3.009651e+06,768308.000000,768308.000000,768308.000000,768308.000000,768308.000000,23188.000000,23184.000000,23184.000000
mean,2.022428e+03,1.611910e+01,4.052370e+00,1.335724e+03,1.338456e+03,1.819137e+01,2.076633e+01,2.646700e-01,5.009953e-01,1.707126e+01,...,8.315932e+02,3.795292e+00,27.253495,4.129603,12.084959,0.156062,30.663941,1403.287735,43.570480,42.571127
std,1.026700e+00,8.902021e+00,2.014421e+00,4.989687e+02,5.214389e+02,6.235269e+01,6.139561e+01,4.411574e-01,2.661977e+00,9.736292e+00,...,6.062937e+02,2.371676e+00,77.533000,28.350653,31.499319,4.065797,63.485679,498.560727,38.009775,36.296047
min,2.021000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.900000e+01,0.000000e+00,0.000000e+00,-2.000000e+00,1.000000e+00,...,1.100000e+01,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,2.022000e+03,8.000000e+00,2.000000e+00,9.100000e+02,9.090000e+02,-5.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,1.200000e+01,...,3.930000e+02,2.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,1015.000000,18.000000,18.000000
50%,2.022000e+03,1.600000e+01,4.000000e+00,1.325000e+03,1.326000e+03,-1.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,1.500000e+01,...,6.750000e+02,3.000000e+00,6.000000,0.000000,0.000000,0.000000,7.000000,1448.000000,32.000000,31.000000
75%,2.023000e+03,2.400000e+01,6.000000e+00,1.745000e+03,1.757000e+03,1.600000e+01,1.600000e+01,1.000000e+00,1.000000e+00,1.900000e+01,...,1.065000e+03,5.000000e+00,25.000000,0.000000,15.000000,0.000000,37.000000,1802.000000,55.000000,54.000000
max,2.024000e+03,3.100000e+01,7.000000e+00,2.359000e+03,2.400000e+03,3.777000e+03,3.777000e+03,1.000000e+00,1.200000e+01,2.140000e+02,...,5.095000e+03,1.100000e+01,3689.000000,1478.000000,1740.000000,1132.000000,2557.000000,2400.000000,372.000000,372.000000

In [18]:

df_sin_divs.to_csv(ruta_carpeta + '/archivo.csv', index=False)


print("Archivo CSV guardado correctamente.")

Archivo CSV guardado correctamente.